test.py
co.md
data/trajectory/
data/losses.pkl
saved_model/
result/
test.py
show.ipynb
data/ripple/ripple-data-jan29/*
data/ripple/ripple-data-nov7/*
data/ripple/transactions-in-USD-jan-2013-aug-2016.txt